thinkpad/config/Empathy/
thinkpad/config/QtProject.conf
thinkpad/config/Signal/
thinkpad/config/Trolltech.conf
thinkpad/config/autostart/
thinkpad/config/chromium/
thinkpad/config/compton/
thinkpad/config/dconf/
thinkpad/config/dunst/dunstrc.bk
thinkpad/config/dunst/dunstrc.bk.1
thinkpad/config/dunst/l1.txt
thinkpad/config/dunst/l2.txt
thinkpad/config/evolution/
thinkpad/config/gconf/
thinkpad/config/htop/
thinkpad/config/i3/config.new
thinkpad/config/i3/tmp.txt
thinkpad/config/i3/tmp2.txt
thinkpad/config/keepassxc/
thinkpad/config/neofetch/
thinkpad/config/pulse/
thinkpad/config/skypeforlinux/
thinkpad/config/smplayer/
thinkpad/config/vlc/
thinkpad/config/whoozle.github.io/
thinkpad/config/wireshark/
thinkpad/config/mimeapps.list
thinkpad/config/QtProject/
thinkpad/config/REAPER/
thinkpad/config/Slack/
thinkpad/config/deluge/
thinkpad/config/discord/
thinkpad/config/enchant/
thinkpad/config/evince/
thinkpad/config/glade.conf
thinkpad/config/gtk-3.0/
thinkpad/config/ksudokurc
thinkpad/config/okularrc
thinkpad/config/screenkey.json
thinkpad/config/urlwatch/
